{% extends "base.html" %}


{% block content %}
<h1>Update VHS</h1>
<h2>Title film: {{ vhs.title }}</h2>
<div>
    <h3>Enter new data</h3>
    <form method="post">
    <input type="number" name="year" id="year" value="{{ vhs.year }}"><br>
    <input type="text" name="age_rating" id="age_rating" value="{{ vhs.age_rating }}"><br>
    <input type="number" name="count" id="count" value="{{ vhs.count }}"><br>
    <input type="submit" value="save">
    </form>
    <a href="/all_vhstapes">Back</a>
</div>
<div class="flash-error">{{ get_flashed_messages()[0] }}</div>
{% endblock %}