{% extends "base.html" %}


{% block content %}
<h1 id="home-title" style="margin-top: 25px;">Update VHS</h1>
<h2 style="text-align: center;">Title film: {{ vhs.title }}</h2>
<h3 style="text-align: center;">Enter new data</h3>
<div class="vhs-update">
    <form method="post">
        <input type="number" name="year" id="year" value="{{ vhs.year }}"><br>
        <input type="text" name="age_rating" id="age_rating" value="{{ vhs.age_rating }}"><br>
        <input type="number" name="count" id="count" value="{{ vhs.count }}"><br>
        <input type="submit" value="save" class="button-all">
    </form>
    <a class="button-all" href="/all_vhstapes">Back</a>
</div>
<div class="flash-error">{{ get_flashed_messages()[0] }}</div>
{% endblock %}