body {
    background-color: #a59f9f;
    font-family: 'Source Sans Pro', sans-serif;
}

nav a {
    text-decoration: none;
    background:rgb(10, 64, 134);
    color: black;
    padding: 8px 20px 8px 20px;
    margin: 15px;
    border-radius: 10px;
}

nav a:hover {
    background-color: #fdfdfd;
}

.flash-error {
    padding: 10px;
    font-size: 20px;
    color: rgb(134, 10, 10);
}

.all-flash-error{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 30px;
    background-color: white;
    border: 5px solid black;
    border-radius: 20px;
    color: rgb(134, 10, 10);
    opacity: 0;
    animation: fade-out 6s;
}

@keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

.bar {
    font-size: 35px;
}

.search {
    display: none;
}