{% extends "base.html" %} {% block content %}
<h1 id="home-title" style="margin-top: 25px">All clients: {{ total }}</h1>

<button
  class="filter-button"
  onclick="document.querySelector('.search').style.display = 'block'; this.style.display = 'none';"
>
  Show filters
</button>
<div class="search">
  <form method="get">
    <input type="number" name="min_age" placeholder="client min age" />
    <input type="number" name="max_age" placeholder="client max age" />
    <button type="submit">Search</button>
  </form>
</div>

{% if count %}
<p>filtered: {{ count }}</p>
{% endif %} {% for client in all_clients %}
<div class="cliebt-card">
  <div id="client-info">
    <h2>Name: {{ client.name }}</h2>
    <p>id: {{ client.id_client }}</p>
    <p>age: {{ client.age }}</p>
    <p>rentals: {{ client.rental_count }}</p>
    <p>phone: {{ client.phone }}</p>
  </div>
  <div id="client-button">
    <a class="button-all" href="/client/{{ client.id_client }}">Details</a>
    <a class="button-all" href="/client/{{ client.id_client }}/update"
      >Update</a
    >
    <a class="button-all" href="/client/{{ client.id_client }}/delete"
      >Delete</a
    >
  </div>
</div>
{% endfor %} {% if get_flashed_messages() %}
<div class="all-flash-error">{{ get_flashed_messages()[0] }}</div>
{% endif %} {% endblock %}
