@use "./vars";
@use "./reset";
@use "./common/common";

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Medium.eot");
  src: url("./fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Montserrat-Medium.woff2") format("woff2"),
    url("./fonts/Montserrat-Medium.woff") format("woff"),
    url("./fonts/Montserrat-Medium.ttf") format("truetype");
  font-style: normal;
  font-display: auto;
}

html {
  line-height: vars.$mainLineHeight;
  font-size: vars.$mainFontSize;
  color: vars.$mainFontColor;
  height: 100%;
  @media screen and (max-width: vars.$desktopWidth) {
    font-size: 16px;
  }
  @media screen and (max-width: vars.$tableWidth) {
    font-size: 15px;
  }
  @media screen and (max-width: vars.$phoneWidth) {
    font-size: 14px;
  }
}

body {
  font-family: vars.$mainFont;
  font-size: vars.$mainFontSize;
  font-weight: vars.$mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: vars.$mainFontColor;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}

.wrapper-content {
	display: flex;
  flex-direction: column;
  min-height: 70vh;
  width: 80%;
  margin: 0 auto;
  margin-top: vars.$elementSpacing; // nav bar fixed
  // outline: vars.$debugOutline; 
	// background-color: vars.$debugBackground;
}

.container {
  position: relative;
  flex: 0 0 auto;
  margin: 0 auto;
  width: 100%;
  max-width: vars.$lgDesktopWidth;
  @media screen and (max-width: vars.$lgDesktopWidth) {
    padding: 0 16px;
  }
  @media screen and (max-width: vars.$smDesktopWidth) {
    max-width: vars.$tableWidth;
  }
  @media screen and (max-width: vars.$tableWidth) {
    max-width: vars.$smTableWidth;
  }
  @media screen and (max-width: vars.$smTableWidth) {
    max-width: vars.$phoneWidth;
  }
  @media screen and (max-width: vars.$phoneWidth) {
    max-width: vars.$smPhoneWidth;
  }
}

.debug {
	background-color: vars.$debugBackground;
	outline: vars.$debugOutline;
	display: flex;
	align-items: center;
  justify-content: space-around;
	
	* {
		outline: 4px solid rgb(0, 38, 255);
	}
}
