// Font
$mainFont: "Montserrat", Helvetica, Arial, sans-serif;

// Size
$mainFontColor: #000000;
$mainFontSize: 18px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

$lgDesktopWidth: 1400px;
$desktopWidth: 1280px;
$smDesktopWidth: 1024px;
$tableWidth: 768px;
$smTableWidth: 640px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Main color
$greyLite: rgb(61, 62, 73);

// Spacing
$elementSpacing: 5rem;