@use "./../vars.scss";
@use "./../_mixins";

.header {
  background-color: vars.$greyLite;
  display: flex;
}

.header__logo {  // Styles for window width greater than 1280 pixels
  width: 90px;
  height: 60px;
  padding: 5px;
  flex-shrink: 0;

  img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: contain;
  }
}

@media (max-width: 1280px) {  // Styles for a window width of 1280 pixels or less
  .header__logo {							// I mean, up to 1280, the pixel will be hidden
    display: none;
  }
}

.header__menu {
	width: 100%;
  &-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &-item {
    margin: 15px 15px;
    background-color: transparent;
		flex-grow: 1;
		flex-shrink: 1;
    transition: background-color 0.3s ease;
    @include mixins.btn(vars.$black, none, 15px, vars.$black, 25px);

    a {
      display: block;
			text-align: center;
      width: 100%;
      height: 100%;
      padding: 0px 50px;
      color: vars.$black;
    }

    &.active {
      background-color: vars.$orangeNavBar;
    }
  }

	@media (max-width: 1280px) {
		&-item {
			margin: 5px 5px
		}
	}
}
