// Font
$mainFont: "Montserrat", Helvetica, Arial, sans-serif;
$mainFontColor: #000000;
$mainFontSize: 18px;
$mainLineHeight: 1.2;

// Size
$lgDesktopWidth: 1400px;
$desktopWidth: 1280px;
$smDesktopWidth: 1024px;
$tableWidth: 768px;
$smTableWidth: 640px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Colors
$black: #000000;
$greyLite: #3d3e49;
$orangeNavBar: #cc8809;
$blueLite: #343b4d;

// Debug 
$debugOutline: 2px solid red;
$debugBackground: rgb(104, 103, 103);
