body {
    background-color: #a59f9f;
    font-family: 'Source Sans Pro', sans-serif;
}

nav a {
    text-decoration: none;
    background:rgb(139, 72, 10);
    color: black;
    padding: 8px 20px 8px 20px;
    margin: 15px;
    border-radius: 10px;
}

nav a:hover {
    background-color: #fdfdfd;
}

ul li {
    padding: 0 0 15px 0;
}

li a {
    text-decoration: none;
    color: green;
}

ul li a {
    display: inline-block;
}

ul li a:hover{
    transform: scale(1.2);
}

#return-in-client{
    color: red;
    margin-left: 25px;
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #fdfdfd;
}

.flash-error {
    padding: 10px;
    font-size: 20px;
    color: rgb(134, 10, 10);
}

.all-flash-error{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 30px;
    background-color: white;
    border: 5px solid black;
    border-radius: 20px;
    color: rgb(134, 10, 10);
    opacity: 0;
    animation: fade-out 6s;
}

@keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

.bar {
    font-size: 35px;
}

.search {
    display: none;
}