{% extends "base.html" %}


{% block content %}
<h1>All VHS</h1>
{% for vhs in all_vhstapes %}
<div>
    <h2>Title: {{ vhs.title }}</h2>
    <p>id film: {{ vhs.id_num }}</p>
    <p>year: {{ vhs.year }}</p>
    <p>age rating: {{ vhs.age_rating }}</p>
    <p>count: {{ vhs.count }}</p>
    <p>available: {{ vhs.available_quantity }}</p>
    <p>issued: {{ vhs.issued_to_clients }}</p>
    <a href="/vhs/{{ vhs.id_num }}">Details</a>
    <a href="/vhs/{{ vhs.id_num }}/update">Update</a>
    <a href="/vhs/{{ vhs.id_num }}/delete">Delete</a>
</div>
{% endfor %}
{% if get_flashed_messages() %}
    <div class="all-flash-error">{{ get_flashed_messages()[0] }}</div>
{% endif %}
{% endblock %}