{% extends "base.html" %}


{% block content %}
<h1>All Clients</h1>

<h1>All clients: {{ total }}</h1>
<button onclick="document.querySelector('.search').style.display = 'block'; this.style.display = 'none';">
    Show filters
</button>
<div class="search">
    <form method="get">
        <input type="number" name="min_age" placeholder="client min age">
        <input type="number" name="max_age" placeholder="client max age">
        <button type="submit">Search</button>
    </form>
</div>

{% if count %}
    <p>filtered: {{ count }}</p>
{% endif %}

{% for client in all_clients %}
<div>
    <h2>Name: {{ client.name }}</h2>
    <p>id: {{ client.id_client }}</p>
    <p>age: {{ client.age }}</p>
    <p>phone: {{ client.phone }}</p>
    <a href="/client/{{ client.id_client }}">Details</a>
    <a href="/client/{{ client.id_client }}/update">Update</a>
    <a href="/client/{{ client.id_client }}/delete">Delete client</a>
</div>
{% endfor %}
{% if get_flashed_messages() %}
    <div class="all-flash-error">{{ get_flashed_messages()[0] }}</div>
{% endif %}

{% endblock %}