<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='JavaScript/scripts.js') }}"></script>
    <title>BlockbusterVHS</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/all_vhstapes">All VHS</a>
        <a href="/create_vhstape">Add VHS</a>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>
