{% extends "base.html" %}


{% block content %}
<h1>Client</h1>
<h2>Info</h2>
<div>
    <h2>Name: {{ client.name }}</h2>
    <p>id: {{ client.id_client }}</p>
    <p>age: {{ client.age }}</p>
    <p>phone: {{ client.phone }}</p>
    <a href="/all_clients">Back</a>
    <a href="/client/{{ client.id_client }}/update">Update</a>
    <a href="/client/{{ client.id_client }}/delete">Delete client</a>
    <form method="post">
        <p>To give this client a movie id:</p>
        <input type="number" name="fiml_id" id="vhs_tape_id" placeholder="fiml id"><br>
        <input type="submit" value="give">
    </form>
    <div class="flash-error">{{ get_flashed_messages()[0] }}</div>
</div>

<h3>list of movies</h3>
<ul>
    <p>Total: {{ count_films }}</p>
    {% for film in all_clients_films %}
      <li>id film: {{ film.vhs_tape_id }} &LongRightArrow; &nbsp; <a href="/vhs/{{ film.vhs_tape_id }}">{{ film.title_vhs }}</a></li>
    {% endfor %}
  </ul>

{% endblock %}