{% extends "base.html" %}


{% block content %}
<h1>Add VHS</h1>
<div>
    <h2>Enter data</h2>
    <form method="post">
    <input type="text" name="name_film" id="name_film" placeholder="name"><br>
    <input type="number" name="year" id="year" placeholder="year"><br>
    <input type="text" name="age_rating" id="age_rating" placeholder="age rating"><br>
    <input type="number" name="count" id="count" placeholder="count"><br>
    <input type="submit" value="send">
    </form>
    <div class="flash-error">{{ get_flashed_messages()[0] }}</div>
</div>
{% endblock %}