<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/style.css') }}"
    />
    <script src="{{ url_for('static', filename='JavaScript/scripts.js') }}"></script>
    <title>BlockbusterVHS</title>
  </head>
  <body>
    <div class="main">
      <nav class="main-nav {% block nav_class %}{% endblock %}">
        <a href="/">Home</a>
        <a href="/all_vhstapes">All VHS</a>
        <a href="/create_vhstape">Add VHS</a>
        <a href="/all_clients">All clients</a>
        <a href="/create_client">Add client</a>
        <a href="/all_rentals">All rentals</a>
        <a href="/create_rental">Add rental</a>
      </nav>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
