@use "./../vars";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 20px;
  background-color: vars.$greyLite;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
	
	a {
		color: vars.$mainFontColor;

    &:visited {
      color: vars.$mainFontColor;
    }

    &:active {
      color: vars.$mainFontColor;
    }
  }
}
